<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="search-container">
        <form action="/weather" method="post">
            <label for="cityname">Enter your City:</label>
            <input type="text" id="cityname" name="cityname" placeholder="e.g., Vasco Da Gama">
            <input type="submit" id="submitbtn">
        </form>
    </div>
</body>

</html>